:root{
    --primary-color:#FF7A01;
    --secondary-color:#1c3fa8;
    --dark-color:#000;
    --light-color:#f4f4f4e3;
}

/* Basic styling */

/* Universal selector*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Lato', 'sans-serif';
    color: #333;
    line-height: 1.6;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #333;
}

/* Navigation */

.navbar{
    background-color: var(--dark-color);
    color: #fff;
}

.navbar .container{
    height: 60px;
}

.navbar img{
    height: 50%;
}

.navbar nav ul{
    display: flex;
}

.navbar nav a{
    color: #fff;
    margin: 0 20px;
    font-size: 1.1rem;
}

.navbar nav a:hover{
    color: var(--primary-color);
}

.toggle{
    visibility: hidden;
    position: fixed; /* stays in the same place no matter what*/
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background: var(--dark-color) url(../img/menu.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 20;
    cursor: pointer;
  }
  
  .toggle.active{
    background: var(--primary-color) url(../img/close.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
  }

  /* Showcase */
  .showcase{
    max-width: 100%;
    background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 255, 0.5)
  ), url(../img/robot2.png);
    background-color: var(--dark-color);
    height: 100vh;
    color: #f4f4f4;
    background-size: cover;
    background-position: center;
    height: 400px;
  }

  .showcase h1{
    font-size: 40px;
  }

  .showcase h2{
    font-size: 20px;
    padding: 20px 0;
  }

  .showcase .btn{
    margin: 20px 0;
  }

  .showcase img{
    height: 60%;
  }

/* Intro*/

.intro .grid{
    grid-template-columns: 30% 60%;
}

.intro h2{
    margin: 40px 0;
    grid-column: span 2;
}

.intro .card{
    max-width: 800px;
    font-size: 1.1rem;
    background-color: var(--light-color);
    color: var(--dark-color);
}

/* Offering */
.offering{
    margin-top: 50px;
    padding-bottom: 30px;
    max-width: 100%;
    background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 255, 0.5),
    rgba(0, 0, 0, 1)
  ), url(https://github.com/nemetht91/Automation-X/blob/main/static/img/robot1.jpg);
    background-color: var(--dark-color);
    color: #f4f4f4;
    background-size: cover;
    background-position: center;;
}

.offering h2{
    text-align: center;
    margin: 20px 0px;
    color: var(--light-color);
    font-size: 2rem;
}

.offering .grid{
    grid-template-columns: repeat(2, 1fr);
}

.offering .grid :first-child,
.offering .grid :nth-child(6){
    grid-column: span 2;
}

.offering .card{
    background-color: #fff;
}

.offering .card h3{
    color: var(--dark-color);
}

.offering .card p{
    color: var(--d-color);
}

/* footer */

footer{
    background-color: var(--dark-color);
    color: var(--light-color);
    height: 150px;
}

footer .flex{
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

footer nav ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

footer li{
    padding: 5px;
}

footer a{
    color: var(--light-color);
}

  @media(max-width: 950px){

    /* Navbar */
    .links{
        display: none;
    }

    .toggle{
        visibility: visible;
    }


    /* Showcase */
    .showcase{
        height: 500px;
    }

    .showcase .grid{
        grid-template-columns: 1fr;
    }

    .showcase img{
        grid-row-start: 1;
        height: 100%;
        justify-self: center;
    }

    .showcase-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* Intro */

    .intro{
        text-align: center;
    }

    .intro h2{
        font-size: 1.2rem;
        margin: 20px 0;
        grid-column: span 1;
    }

    .intro .grid{
        grid-template-columns: 1fr;
    }

    /* Offering */
    .offering .grid{
        grid-template-columns: 1fr;
    }

    .offering .grid :first-child,
    .offering .grid :nth-child(6){
    grid-column: span 1;
    }

    .offering .card{
        text-align: center;
    }



  }

  @media(max-width: 500px){


    .showcase h1{
        font-size: 26px;
    }

    .showcase h2{
        font-size: 1rem;
    }

    .showcase .btn{
        font-size: 0.9rem;
    }
  }