.container{
    max-width: 1300px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.btn{
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    color: #fff;
    border: 1px solid;
    border-radius: 5px;
}

.btn:hover{
    color: var(--primary-color);
}

.card{
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2); /* Adds some shadow to the color*/
    padding: 20px;
    margin: 10px;
}