{% include "header.html" %}

     <section class="about">
        <div class="main container">
                <h1>About Us</h1>
                <div class="intro">
                    <div class="profile">
                         <img src="../static/img/andy.png" alt="Andy Macfadyen">
                         <h2>Andy Macfadyen</h2>
                         <h3>Principal Robotics Engineer</h3>
                    </div>
                    <div>
                         <p>Welcome to Automation X, where we're committed to transforming businesses through the power of robotics. Our mission is clear: to aid businesses in growth by utilising the potential of automation. We're passionate about raising awareness of the numerous benefits that robotics can bring to manufacturing, including increased productivity, profitability, and enhanced safety measures.</p>
                         <p>Our journey began with a small group of engineers united by a common purpose: to make robotics accessible and affordable for businesses of all sizes. We recognised the potential for automation to revolutionise industries, while also understanding the challenges that many businesses face in adopting this technology. That's why we set out to offer a phased approach, tailored to the unique needs of each customer, guiding them on an automation journey that's both practical and cost-effective.
                         </p>
                    </div>
                </div>
               
                <p>
                    At Automation X, our values are at the heart of everything we do. We believe in delivering quality solutions that exceed expectations, with honest pricing and competitive costs. Transparency is paramount in our interactions with clients, ensuring they have a clear understanding of the processes and outcomes. Above all, safety is our top priority in all aspects of our work, prioritising the well-being of both our clients and their workforce.  
                </p>
                <p>
                    Our team of directors brings a wealth of experience and expertise to the table, with a collective focus on engineering and automation. Having dedicated our careers to this field, we are committed to staying at the forefront of technological advancements and industry best practices.
                </p>
                <p>
                    What sets us apart at Automation X is our unwavering commitment to our customers' success. Unlike profit-driven enterprises, we are driven by a desire to see businesses thrive and grow. We view our relationship with clients as a partnership, and we strive to ensure that the automation solutions we implement benefit both Automation X and our valued customers.
                </p>
                <p>
                    Thank you for considering Automation X as your partner in automation. We're excited to embark on this journey with you and help unlock the full potential of your business.
                </p>
         </div>        
     </section>
    
{% include "footer.html" %}