{% include "header.html" %}


     <section class="contact">
        <div class="main container">
                <h1>Contact Us</h1>
                <p>Thank you for your interest in reaching out to us. Whether you have a question, suggestion, or just want to say hello, we're here to listen and assist you in any way we can.
                </p>
                <div class="grid">
                          <form action="{{ url_for('get_contact') }}" method="post">
                            <input type="text" name="firstname"
                            placeholder="First Name" maxlength="50" required>
                            <input type="text" name="lastname"
                            placeholder="Last Name" maxlength="50" required>
                            <input type="email" name="email"
                            placeholder="Email" maxlength="50" required>
                            <input type="text" name="company"
                            placeholder="Company" required>
                            <input type="tel" maxlength="70" name="phone"
                            placeholder="Phone number" required>
                            <input type="text" maxlength="70" name="subject"
                            placeholder="Subject" required>
                            <textarea type="text" name="message"
                            placeholder="Message" required cols="50" rows="10" maxlength="500"></textarea>
                            <input type="submit" value="Send" >
                         </form>
                    <img class="logo" src="../static/img/AUTOMATION X - Logo.PNG" alt="">
            </div>
            <div class="details flex">
                <div class="mode">
                    <img src="../static/img/email.png" alt="">
                    <h3>Email</h3>
                    <a href="mailto: info@automation-x.co.uk">info@automation-x.co.uk</a>

                </div>
                
                <div class="mode">
                    <img src="../static/img/call.png" alt="">
                    <h3>Call</h3>
                    <a href="tel: +44 7444334025">+44 7444 334 025</a>
                </div>
        </div>
         </div>        
     </section>
    
 {% include "footer.html" %}