{% include "header.html" %}

     <section class="failed">
        <div class="container feedback">
            <h1>Oops! Something went wrong!</h1>
            <div>
                <p>Couldn't send your message! Please try again latter or you can reach out with the contact details bellow.</p>
                <a target="_blank" href="https://www.freepik.com/free-vector/cute-robot-holding-phone-with-laptop-cartoon-vector-icon-illustration-science-technology-isolated_26569089.htm#query=happy%20robot&position=23&from_view=search&track=ais&uuid=e174c2e7-0f28-4ec0-b41a-dc2c48629df5">Image by catalyststuff on Freepik</a> 
            </div>
     </div>        
     </section>
    
{% include "footer.html" %}