 <!-- footer-->
     <footer>
        <div class="container flex">
            <div class="logo box">
                <a  href="{{ url_for('get_home') }}">
                    <img src="../static/img/AUTOMATION X - Upper - Logo.png" alt="Automation X Logo">
                </a>
                
            </div>
            <nav class="links box">
                <ul>
                    <li><a href="{{ url_for('get_home') }}">Home</a></li>
                    <li><a href="{{ url_for('get_about') }}">About Us</a></li>
                    <li><a href="{{ url_for('get_services') }}">Services</a></li>
                    <li><a href="{{ url_for('get_contact') }}">Contact Us</a></li>
                    <li><a href="{{ url_for('get_projects') }}">Case Studies</a></li>
                    <li><a href="{{ url_for('get_privacy') }}">Privacy Policy</a></li>
                </ul>
            </nav>
            <a class="box" href="https://www.linkedin.com/company/automation-x-solutions/" target="_blank" ><i class="fab fa-linkedin fa-2x"></i></a>
        </div>
        <div class="container copyright">
            <div><i class="fa-regular fa-copyright"></i> {{ now.year }} Automation X; All Right Reserved</div>
            <div>Designed & Developed by <a href="https://www.tnemeth.co.uk" target="_blank">Tamas Nemeth</a></div>
        </div>

     </footer>
    <script src="../static/js/script.js" charset="UTF-8"></script>
</body>
</html>