<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Automation X</title>
    <link rel="image_src" href="../static/img/robot1.jpg" />
    <link rel="image_src" href="../static/img/robot2.jpg" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static/css/utilities.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <!--Navbar-->
    <section class="navbar">
        <div class="desktop container flex">
            <a class="logo-link" href="{{ url_for('get_home') }}">
                <img  src="../static/img/AUTOMATION X - Lower - Logo.png" alt="Automation X">
            </a>
            <div class="toggle"></div>
            <nav class="links ">
                <ul>
                    <li><a href="{{ url_for('get_home') }}">Home</a></li>
                    <li><a href="{{ url_for('get_services') }}">Products & Services</a></li>
                    <li><a href="{{ url_for('get_projects') }}">Case Studies</a></li>
                    <li><a href="{{ url_for('get_about') }}">About Us</a></li>
                    <li><a href="{{ url_for('get_contact') }}">Contact Us</a></li>
                    {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('logout') }}">Log out</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        <div class="mobile">
            <form action="">
                <ul>
                    <li><a href="{{ url_for('get_home') }}">Home</a></li>
                    <li><a href="{{ url_for('get_services') }}">Products & Services</a></li>
                    <li><a href="{{ url_for('get_projects') }}">Case Studies</a></li>
                    <li><a href="{{ url_for('get_about') }}">About Us</a></li>
                    <li><a href="{{ url_for('get_contact') }}">Contact Us</a></li>
                    <li><a href="{{ url_for('get_privacy') }}">Privacy Policy</li>
                    {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('logout') }}">Log out</a></li>
                    {% endif %}
                </ul>
            </form>
            <div class="social-bar">
                <ul>
                    <li>
                        <a href="https://www.linkedin.com/company/automation-x-solutions/" target="_blank" ><i class="fab fa-linkedin fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="mailto: automation-x@email.com" class="email-icon">
                            <i class="fa-solid fa-at"></i>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
     </section>