{% include "header.html" %}
    

    <!--Showcase-->
    <section class="showcase">
        <div class="main container grid">
            <div class="showcase-text">
                <h1>Unlocking the Future of Robotics</h1>
                <h2>Expert Robot Programming for Industrial, Collaborative,<br> and Autonomous Robots</h2>
                <h2 class="hidden">Discover the future of automation with Automation X - your premier partner for cutting-edge robot programming services.</h2>
                <h2 class="hidden">We are dedicated to transforming industries through the power of industrial robots, collaborative robots (cobots), and autonomous robot technology.</h2>
                <h2 class="hidden">We offer innovative solutions that revolutionise productivity, safety, and efficiency. Whether you seek to optimise manufacturing processes, explore the potential of cobots, or integrate autonomous robots into your operations, Automation X is your gateway to a smarter, automated tomorrow..</h2>
                <a class="btn" href="{{ url_for('get_about') }}">Learn More</a>
            </div>
            <!--<img src="../static/img/AUTOMATION X - Logo.PNG" alt="Automation X Logo">-->
            
        </div>
        </div>
    </section>

 <section class="offering">
    <div class="container grid">
        <div class="service">
            <h3>Industrial Robots</h3>
            <div class="service-img">
                <img src="../static/img/offering_robot.jpg" alt="industrial robot" > 
            </div>
             
            <p>Elevate productivity with out industrial robot solutions tailored to optimise manufacturing processes.</p>
            <a href="{{ url_for('get_services') }}" id="robot" class="btn btn-primary">Read More</a>
        </div>
        <div class="service">
            <h3>Collaborative Robots</h3>
            <div class="service-img">
                <img src="../static/img/offering_cobot.jpg" alt="collaborative robot">
            </div>
            <p>Explore the future of work with collaborative robots that seamlessly integrate into your team, enhancing efficiency and safety.</p>
            <a href="{{ url_for('get_services') }}" id="cobot" class="btn btn-primary">Read More</a>
        </div>
        <div class="service">
            <h3>Autonomous Robots</h3>
            <div class="service-img">
                <img src="../static/img/offering_amr.jpg" alt="autonomous mobile robot">
                
            </div>
            <p> Experience the cutting-edge realm of autonomy with out robotic solutions, unlocking a new era of intelligent and self-guided systems.</p>
            <a href="{{ url_for('get_services') }}" id="amr" class="btn btn-primary">Read More</a>
        </div>
        <div class="service">
            <h3>Simulation</h3>
            <div class="service-img">
                <img src="../static/img/offering_simulation.jpg" alt="robot simulation enviroment">
               
            </div>
            <p> Navigate precision and innovation through our simulation services, providing a virtual playground to test and refine your robotic applications.</p>
            <a href="{{ url_for('get_services') }}" id="simulation" class="btn btn-primary">Read More</a>
        </div>
        <div class="service">
            <h3>Consultancy</h3>
            <div class="service-img">
                <img src="../static/img/offering_consultancy.jpg" alt="desktop with laptop">
                
            </div>
            <p>Gain strategic insights with our consultancy services, where expertise meets personalised guidance to drive your robotics initiatives forward.</p>
            <a href="{{ url_for('get_services') }}" id="consultancy" class="btn btn-primary">Read More</a>
        </div>
    </div>
 </section>
   

    <section class="promotition">
        <div class="container grid">
            <h2>Why Choose Us</h2>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h3>Experience and Expertise</h3>
                    </div>
                    <div class="flip-card-back">
                        <p>Automation X boasts a team of seasoned professionals with vast experience in automation across multiple industries. Our impressive track record of successful projects and satisfied clients speaks to our expertise in delivering exceptional solutions.</p>
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h3>Customized Solutions</h3>
                    </div>
                    <div class="flip-card-back">
                        <p>We understand that each business has unique requirements. At Automation X, we take a personalised approach, tailoring our solutions to fit your specific needs. Our flexibility and scalability ensure that our solutions seamlessly integrate into your existing processes, future-proofing your investment.</p>
                    </div>   
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h3>Innovation at the Core</h3>

                    </div>
                    <div class="flip-card-back">
                        <p>As technology enthusiasts, we stay at the forefront of robotics advancements. Automation X continually updates its knowledge and skills, leveraging cutting-edge tools and techniques to offer state-of-the-art solutions to our clients.</p>
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h3>Customer-Centric Approach</h3>
                    </div>
                    <div class="flip-card-back">
                        <p>At Automation X, we prioritize our client’s success and satisfaction. Our dedicated team is always available to guide you through the implementation process and provide ongoing assistance. Count on us to ensure smooth operations and address any queries or concerns promptly.</p>
                    </div>  
                </div>
            </div>
     
        </div>
    </section>

{% include "footer.html" %}