<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Automation X</title>
    <link rel="stylesheet" href="../static/css/utilities.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <!--Navbar-->
    <section class="navbar">
        <div class="container flex">
            <img src="../static/img/logo_text.jpg" alt="Automation X">
            <div class="toggle"></div>
            <nav class="links ">
                <ul>
                    <li><a href="./index.html">Home</a></li>
                    <li><a href="./services.html">Products & Services</a></li>
                    <li><a href="./projects.html">Case Studies</a></li>
                    <li><a href="./about.html">About Us</a></li>
                    <li><a href="./contact.html">Contact Us</a></li>
                </ul>
            </nav>
        </div>
     </section>
    

    <!--Showcase-->
    <section class="showcase">
        <div class="container grid">
            <div class="showcase-text">
                <h1>Unlocking the Future of Robotics</h1>
                <h2>Expert Robot Programming for Industrial, Collaborative,<br> and Autonomous Robots</h2>
              
                <a class="btn" href="./about">Learn More</a>
            </div>
            <img src="../static/img/logo.webp" alt="Automation X Logo">
        </div>
        
    </section>

    <section class="intro">
        <div class="container grid">
            <div class="card">
                <ul>
                    <li>Discover the future of automation with Automation X - your premier partner for cutting-edge robot programming services.</li>
                    <li>We are dedicated to transforming industries through the power of industrial robots, collaborative robots (cobots), and autonomous robot technology.</li>
                    <li>We offer innovative solutions that revolutionise productivity, safety, and efficiency. Whether you seek to optimise manufacturing processes, explore the potential of cobots, or integrate autonomous robots into your operations, Automation X is your gateway to a smarter, automated tomorrow.</li>
                </ul>
            </div>
        </div>
        
    </section>
    <script src="../static/js/script.js" charset="UTF-8"></script>
</body>
</html>