<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Automation X</title>
    <link rel="image_src" href="../static/img/robot1.jpg" />
    <link rel="image_src" href="../static/img/robot2.jpg" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" 
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static/css/utilities.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <!--Navbar-->
    <section class="navbar">
        <div class="desktop container flex">
            <img src="../static/img/AUTOMATION X - Lower - Logo.png" alt="Automation X">
            <div class="toggle"></div>
            <nav class="links ">
                <ul>
                    <li><a href="./index.html">Home</a></li>
                    <li><a href="./services.html">Products & Services</a></li>
                    <li><a href="./projects.html">Case Studies</a></li>
                    <li><a href="./about.html">About Us</a></li>
                    <li><a href="./contact.html">Contact Us</a></li>
                </ul>
            </nav>
        </div>
        <div class="mobile">
            <form action="">
                <ul>
                    <li><a href="./index.html">Home</a></li>
                    <li><a href="./services.html">Products & Services</a></li>
                    <li><a href="./projects.html">Case Studies</a></li>
                    <li><a href="./about.html">About Us</a></li>
                    <li><a href="./contact.html">Contact Us</a></li>
                    <li><a href="./contact.html">Privacy Policy</li>
                </ul>
            </form>
            <div class="social-bar">
                <ul>
                    <li>
                        <a href="https://www.linkedin.com/company/automation-x-solutions/" target="_blank" ><i class="fab fa-linkedin fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="malto:you@email.com" class="email-icon">
                            <i class="fa-solid fa-at"></i>
                        </a>
                    </li>
                </ul>
                
            </div>
        </div>
     </section>
    

    <!--Showcase-->
    <section class="showcase">
        <div class="main container grid">
            <div class="showcase-text">
                <h1>Unlocking the Future of Robotics</h1>
                <h2>Expert Robot Programming for Industrial, Collaborative,<br> and Autonomous Robots</h2>
                <h2 class="hidden">Discover the future of automation with Automation X - your premier partner for cutting-edge robot programming services.</h2>
                <h2 class="hidden">We are dedicated to transforming industries through the power of industrial robots, collaborative robots (cobots), and autonomous robot technology.</h2>
                <h2 class="hidden">We offer innovative solutions that revolutionise productivity, safety, and efficiency. Whether you seek to optimise manufacturing processes, explore the potential of cobots, or integrate autonomous robots into your operations, Automation X is your gateway to a smarter, automated tomorrow..</h2>
                <a class="btn" href="./about">Learn More</a>
            </div>
            <!--<img src="../static/img/AUTOMATION X - Logo.PNG" alt="Automation X Logo">-->
            
        </div>
        </div>
    </section>

 <section class="offering">
    <div class="container grid">
        <div class="service">
            <h3>Industrial Robots</h3>
            <div class="service-img">
                <img src="../static/img/offering_robot.jpg" alt="industrial robot" >
                <a class="image_src" target="_blank" href="https://www.freepik.com/free-photo/photo-automobile-production-line-welding-car-body-modern-car-assembly-plant-auto-industry_26150191.htm#query=industrial%20automation&position=0&from_view=keyword&track=ais&uuid=18917edb-8fd8-42ef-a598-20da972f210f">Image by usertrmk on Freepik</a>
            </div>
             
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam quos dolores quis recusandae rerum et?</p>
            <a href="#" class="btn btn-primary">Read More</a>
        </div>
        <div class="service">
            <h3>Collaborative Robots</h3>
            <div class="service-img">
                <img src="../static/img/offering_cobot.jpg" alt="collaborative robot">
                <a class="image_src" target="_blank" href="https://www.pexels.com/photo/close-up-of-modern-robotic-mechanism-16544054/">Image by KJ Brix on Pexels</a> 
            </div>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam quos dolores quis recusandae rerum et?</p>
            <a href="#" class="btn btn-primary">Read More</a>
        </div>
        <div class="service">
            <h3>Autonomous Robots</h3>
            <div class="service-img">
                <img src="../static/img/offering_amr.png" alt="autonomous mobile robot">
                <a class="image_src" target="_blank" href="https://www.canva.com/">AI generated image on Canva</a> 
            </div>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam quos dolores quis recusandae rerum et?</p>
            <a href="#" class="btn btn-primary">Read More</a>
        </div>
        <div class="service">
            <h3>Simulation</h3>
            <div class="service-img">
                <img src="../static/img/offering_simulation.jpg" alt="robot simulation enviroment">
                <a class="image_src" target="_blank" href="https://www.freepik.com/free-vector/smart-industry-isometric-composition-with-automated-robots-working-factory-3d-isometric_13768273.htm#query=industrial%20automation&position=20&from_view=keyword&track=ais&uuid=984aeb17-0bf4-464f-9b89-22c1dea20a65">Image by macrovector on Freepik</a>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam quos dolores quis recusandae rerum et?</p>
            <a href="#" class="btn btn-primary">Read More</a>
        </div>
        <div class="service">
            <h3>Consultancy</h3>
            <div class="service-img">
                <img src="../static/img/offering_consultancy.jpg" alt="desktop with laptop">
                <a class="image_src" target="_blank" href="https://www.pexels.com/photo/turned-on-gray-laptop-computer-on-table-699459/">Image by Flo Dahm on Pexels</a>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam quos dolores quis recusandae rerum et?</p>
            <a href="#" class="btn btn-primary">Read More</a>
        </div>
    </div>
 </section>
   

    <section class="promotition">
        <div class="container grid">
            <h2>Why Choose Us</h2>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h3>Experience and Expertise</h3>
                    </div>
                    <div class="flip-card-back">
                        <p>Automation X boasts a team of seasoned professionals with vast experience in robot programming across multiple industries. Our impressive track record of successful projects and satisfied clients speaks to our expertise in delivering top-notch solutions.</p>
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h3>Customized Solutions</h3>
                    </div>
                    <div class="flip-card-back">
                        <p>We understand that each business has unique requirements. At Automation X, we take a personalized approach, tailoring our robot programming solutions to fit your specific needs. Our flexibility and scalability ensure that our solutions seamlessly integrate into your existing processes, future-proofing your investment.</p>
                    </div>   
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h3>Innovation at the Core</h3>

                    </div>
                    <div class="flip-card-back">
                        <p>As technology enthusiasts, we stay at the forefront of robotics advancements. Automation X continually updates its knowledge and skills, leveraging cutting-edge tools and techniques to offer state-of-the-art solutions to our clients.</p>
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h3>Customer-Centric Approach</h3>
                    </div>
                    <div class="flip-card-back">
                        <p>At Automation X, we prioritize our clients' success and satisfaction. Our dedicated customer support team is always available to guide you through the implementation process and provide ongoing assistance. Count on us to ensure smooth operations and address any queries or concerns promptly.</p>
                    </div>  
                </div>
            </div>
     
        </div>
    </section>

     <!-- footer-->
     <footer>
        <div class="container flex">
            <div class="logo flex">
            <img src="../static/img/AUTOMATION X - Upper - Logo.png" alt="Automation X Logo">
                <div class="address">
                    <h4>Automation X Ltd.</h4>
                    <p>Address Line 1</p>
                    <p>Postcode</p>
                    <p>City</p>
                </div>
            </div>
            <nav class="links ">
                <ul>
                    <li><a href="./index.html">Home</a></li>
                    <li><a href="./about.html">About Us</a></li>
                    <li><a href="./services.html">Services</a></li>
                    <li><a href="./contact.html">Contact Us</a></li>
                    <li><a href="./projects.html">Case Studies</a></li>
                    <li><a href="./contact.html">Privacy Policy</li>
                </ul>
            </nav>  
            <a href="https://www.linkedin.com/company/automation-x-solutions/" target="_blank" ><i class="fab fa-linkedin fa-2x"></i></a>
        </div>
       
     </footer>   
    <script src="../static/js/script.js" charset="UTF-8"></script>
</body>
</html>