{% include "header.html" %}

     <section class="projects">
        <div class="main container">
                <div class="intro">
                    <h1>Case Studies</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae asperiores repudiandae labore. Fugiat minus, veritatis laudantium recusandae alias nisi officiis vero ex dolorum ratione iusto iste numquam, repellendus, ad cumque!
                    </p>
                </div>
                <div class="studies">
                    <div class="study">
                        <a href="{{ url_for('get_study') }}"><img src="../static/img/case_study.jpg" alt=""></a>
                        <div class="text">
                            <a href="{{ url_for('get_study') }}"><h2 class="title">Case Studie Title Lorem ipsum dolor sit amet.</h2></a>
                            <p class="service">Industrial Robot Application</p>
                            <div class="date">06 January 2024</div>
                        </div>
                    </div>
                    <div class="study">
                        <a href="{{ url_for('get_study') }}"><img src="../static/img/case_study.jpg" alt=""></a>
                        <div class="text">
                            <a href="{{ url_for('get_study') }}"><h2 class="title">Case Studie Title Lorem ipsum dolor sit amet.</h2></a>
                            <p class="service">Industrial Robot Application</p>
                            <div class="date">06 January 2024</div>
                        </div>
                    </div>
                    <div class="study">
                        <a href="{{ url_for('get_study') }}"><img src="../static/img/case_study.jpg" alt=""></a>
                        <div class="text">
                            <a href="{{ url_for('get_study') }}"><h2 class="title">Case Studie Title Lorem ipsum dolor sit amet.</h2></a>
                            <p class="service">Industrial Robot Application</p>
                            <div class="date">06 January 2024</div>
                        </div>
                    </div>
                </div>
                
         </div>        
     </section>
    
 {% include "footer.html" %}