{% include "header.html" %}

     <section class="projects">
        <div class="main container">
                <div class="intro">
                    <h1>Case Studies</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae asperiores repudiandae labore. Fugiat minus, veritatis laudantium recusandae alias nisi officiis vero ex dolorum ratione iusto iste numquam, repellendus, ad cumque!
                    </p>
                </div>
                <div class="create">
                    <a href="{{ url_for('create_case_study') }}" class="btn btn-primary">Create New</a>
                </div>
                <div class="studies">
                    {% for study in case_studies %}
                    <div class="study">
                        <a href="{{ url_for('get_case_study', case_study_id=study.id) }}"><img src={{study.img_url}} alt=""></a>
                        <div class="text">
                            <a href="{{ url_for('get_case_study', case_study_id=study.id) }}"><h2 class="title">{{study.title}}.</h2></a>
                            <ul>
                                {% if study.tag_robot %}
                                <li>
                                    <a class="tag" href="{{ url_for('get_services') }}" id="robot">Industrial Robot;</a>
                                </li>
                                {% endif %}
                               {% if study.tag_cobot %}
                                <li>
                                    <a class="tag" href="{{ url_for('get_services') }}" id="cobot">Cobot;</a>
                                </li>
                                {% endif %}
                                {% if study.tag_amr %}
                                <li>
                                    <a class="tag" href="{{ url_for('get_services') }}" id="amr">AMR;</a>
                                </li>
                                {% endif %}
                                {% if study.tag_simulation %}
                                <li>
                                    <a class="tag" href="{{ url_for('get_services') }}" id="simulation">Simulation;</a>
                                </li>
                                {% endif %}
                                {% if study.tag_consultancy %}
                                <li>
                                    <a class="tag" href="{{ url_for('get_services') }}" id="consultancy">Consultancy;</a>
                                </li>
                                {% endif %}
                            </ul>
                            <div class="date">{{study.date}}</div>
                        </div>
                        <div class="buttons">
                            <a href="{{ url_for('edit_case_study', case_study_id=study.id) }}" class="btn btn-primary">Edit</a>
                            <a href="{{ url_for('get_delete', case_study_id=study.id) }}" class="btn btn-primary">Delete</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                
         </div>        
     </section>
    
 {% include "footer.html" %}