<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Automation X</title>
    <link rel="image_src" href="../static/img/robot1.jpg" />
    <link rel="image_src" href="../static/img/robot2.jpg" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" 
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static/css/utilities.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <!--Navbar-->
    <section class="navbar">
        <div class="container flex">
            <img src="../static/img/AUTOMATION X - Lower - Logo.png" alt="Automation X">
            <div class="toggle"></div>
            <nav class="links ">
                <ul>
                    <li><a href="./index.html">Home</a></li>
                    <li><a href="./services.html">Products & Services</a></li>
                    <li><a href="./projects.html">Case Studies</a></li>
                    <li><a href="./about.html">About Us</a></li>
                    <li><a href="./contact.html">Contact Us</a></li>
                </ul>
            </nav>
        </div>
        <div class="mobile">
            <form action="">
                <ul>
                    <li><a href="./index.html">Home</a></li>
                    <li><a href="./services.html">Products & Services</a></li>
                    <li><a href="./projects.html">Case Studies</a></li>
                    <li><a href="./about.html">About Us</a></li>
                    <li><a href="./contact.html">Contact Us</a></li>
                    <li><a href="./contact.html">Privacy Policy</li>
                </ul>
            </form>
            <div class="social-bar">
                <ul>
                    <li>
                        <a href="https://www.linkedin.com/company/automation-x-solutions/" target="_blank" ><i class="fab fa-linkedin fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="malto:you@email.com" class="email-icon">
                            <i class="fa-solid fa-at"></i>
                        </a>
                    </li>
                </ul>
                
            </div>
        </div>
     </section>


  <!-- Title -->
  <section class="services-intro">
    <div class="container grid">
        <div class="intro-text">
            <h1>Products and Services</h1>
            <p>Discover the future of automation with <br> Automation X -  your premier partner for <br> cutting-edge robot programming services.</p>
        </div>
        <a target="_blank" href="https://www.freepik.com/free-vector/modern-warehouse-colored-isometric-composition-automated-room-warehouse-with-robotic-arm-trucking-vector-illustration_23926514.htm#page=5&query=industrial%20cobot&position=49&from_view=search&track=ais&uuid=f6e75533-698c-4d23-b496-8a715aa12008">Image by macrovector on Freepik</a> 
    </div>
    
  </section>   

  <section class="services-navigation">
        <div class="container">
            <h2>Our Portfolio</h2>
            <div class="nav flex">
                <button class="selected" class="nav-btn" id="robot">Industrial Robots</button>
                <button class="nav-btn" id="cobot">Cobots</button>
                <button class="nav-btn" id="amr">AMRs</button>
                <button class="nav-btn" id="simulation">Simulations</button>
                <button class="nav-btn" id="consultancy">Consultancy</button>

                
            </div>
        </div>
  </section>

  <section class="services-portfolio">
    <div class="container">
        <div class="content robot">
            <h2>Industrial Robot Services</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum dolore ipsa, natus quis minus unde est aut deserunt cupiditate voluptate velit ab eaque veritatis sed et culpa? Harum aliquam ad dolore ullam illum, eum aut eius dolorum et quia necessitatibus dolor laborum assumenda dicta quas culpa sunt iste natus iure?</p>
            <div class="grid">
                <div class="brand">
                    <img src="../static/img/brands/abb.png" alt="abb robot">
                </div>
                <div class="brand">
                    <img src="../static/img/brands/kuka.png" alt="kuka robot">
                </div>
                <div class="brand">
                    <img src="../static/img/brands/fanuc.png" alt="kuka robot">
                </div>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, magnam iure ex molestiae consequatur reprehenderit dolor qui repudiandae cumque delectus sapiente vero, eaque nulla. Labore eaque totam inventore culpa numquam quo sunt magni quia ullam? Accusantium obcaecati sequi non doloremque incidunt dolor dolorem, iste est nostrum amet itaque. Ex, doloremque, exercitationem earum minus qui deleniti vitae dolores rem voluptates nemo velit a maiores, autem quae non nobis! Atque, magnam. Deleniti hic omnis facilis at dolor! Pariatur dicta provident nemo a hic vitae nihil officiis debitis aperiam repellendus? Numquam id laborum quisquam consequatur minima recusandae dolores dicta fugiat, aliquam exercitationem. Reiciendis!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis nihil, tenetur obcaecati similique sed sit exercitationem fuga repellendus enim? Sequi nesciunt necessitatibus nihil incidunt reiciendis assumenda alias blanditiis magni nemo doloribus. Illum cum ut in sit dicta minima itaque, facere tempore. Saepe atque voluptatum sapiente eaque. Impedit modi, maiores ipsum autem magnam dignissimos tempora, ad, dolores aliquid vitae sunt molestiae laborum consectetur cumque aperiam vel odit quis fugiat temporibus sapiente. Molestiae quam itaque libero est. Numquam optio, earum recusandae dicta nemo, enim veritatis quis in ad culpa quasi quas perferendis ipsum aut, quibusdam amet nisi quae reiciendis facilis est doloribus necessitatibus sequi accusantium. Magnam ut nisi totam amet quod, nobis blanditiis, repellendus numquam commodi esse expedita qui necessitatibus dolores! Consequuntur?</p>
        </div>
        <div class="content cobot hidden">
            <h2>Collaborative Robot Services</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum dolore ipsa, natus quis minus unde est aut deserunt cupiditate voluptate velit ab eaque veritatis sed et culpa? Harum aliquam ad dolore ullam illum, eum aut eius dolorum et quia necessitatibus dolor laborum assumenda dicta quas culpa sunt iste natus iure?</p>
            <div class="grid">
                <div class="brand">
                    <img src="../static/img/brands/yumi.png" alt="abb robot">
                </div>
                <div class="brand">
                    <img src="../static/img/brands/universal.png" alt="kuka robot">
                </div>
                <div class="brand">
                    <img src="../static/img/brands/kuka_cobot.png" alt="kuka robot">
                </div>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, magnam iure ex molestiae consequatur reprehenderit dolor qui repudiandae cumque delectus sapiente vero, eaque nulla. Labore eaque totam inventore culpa numquam quo sunt magni quia ullam? Accusantium obcaecati sequi non doloremque incidunt dolor dolorem, iste est nostrum amet itaque. Ex, doloremque, exercitationem earum minus qui deleniti vitae dolores rem voluptates nemo velit a maiores, autem quae non nobis! Atque, magnam. Deleniti hic omnis facilis at dolor! Pariatur dicta provident nemo a hic vitae nihil officiis debitis aperiam repellendus? Numquam id laborum quisquam consequatur minima recusandae dolores dicta fugiat, aliquam exercitationem. Reiciendis!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis nihil, tenetur obcaecati similique sed sit exercitationem fuga repellendus enim? Sequi nesciunt necessitatibus nihil incidunt reiciendis assumenda alias blanditiis magni nemo doloribus. Illum cum ut in sit dicta minima itaque, facere tempore. Saepe atque voluptatum sapiente eaque. Impedit modi, maiores ipsum autem magnam dignissimos tempora, ad, dolores aliquid vitae sunt molestiae laborum consectetur cumque aperiam vel odit quis fugiat temporibus sapiente. Molestiae quam itaque libero est. Numquam optio, earum recusandae dicta nemo, enim veritatis quis in ad culpa quasi quas perferendis ipsum aut, quibusdam amet nisi quae reiciendis facilis est doloribus necessitatibus sequi accusantium. Magnam ut nisi totam amet quod, nobis blanditiis, repellendus numquam commodi esse expedita qui necessitatibus dolores! Consequuntur?</p>
        </div>
        <div class="content amr hidden">
            <h2>Autonomous Mobile Robot Services</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum dolore ipsa, natus quis minus unde est aut deserunt cupiditate voluptate velit ab eaque veritatis sed et culpa? Harum aliquam ad dolore ullam illum, eum aut eius dolorum et quia necessitatibus dolor laborum assumenda dicta quas culpa sunt iste natus iure?</p>
            <div class="grid">
                <div class="brand">
                    <img src="../static/img/brands/kuka_amr.png" alt="abb robot">
                </div>
              
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, magnam iure ex molestiae consequatur reprehenderit dolor qui repudiandae cumque delectus sapiente vero, eaque nulla. Labore eaque totam inventore culpa numquam quo sunt magni quia ullam? Accusantium obcaecati sequi non doloremque incidunt dolor dolorem, iste est nostrum amet itaque. Ex, doloremque, exercitationem earum minus qui deleniti vitae dolores rem voluptates nemo velit a maiores, autem quae non nobis! Atque, magnam. Deleniti hic omnis facilis at dolor! Pariatur dicta provident nemo a hic vitae nihil officiis debitis aperiam repellendus? Numquam id laborum quisquam consequatur minima recusandae dolores dicta fugiat, aliquam exercitationem. Reiciendis!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis nihil, tenetur obcaecati similique sed sit exercitationem fuga repellendus enim? Sequi nesciunt necessitatibus nihil incidunt reiciendis assumenda alias blanditiis magni nemo doloribus. Illum cum ut in sit dicta minima itaque, facere tempore. Saepe atque voluptatum sapiente eaque. Impedit modi, maiores ipsum autem magnam dignissimos tempora, ad, dolores aliquid vitae sunt molestiae laborum consectetur cumque aperiam vel odit quis fugiat temporibus sapiente. Molestiae quam itaque libero est. Numquam optio, earum recusandae dicta nemo, enim veritatis quis in ad culpa quasi quas perferendis ipsum aut, quibusdam amet nisi quae reiciendis facilis est doloribus necessitatibus sequi accusantium. Magnam ut nisi totam amet quod, nobis blanditiis, repellendus numquam commodi esse expedita qui necessitatibus dolores! Consequuntur?</p>
        </div>
        <div class="content simulation hidden">
            <h2>Robot Simulation Services</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum dolore ipsa, natus quis minus unde est aut deserunt cupiditate voluptate velit ab eaque veritatis sed et culpa? Harum aliquam ad dolore ullam illum, eum aut eius dolorum et quia necessitatibus dolor laborum assumenda dicta quas culpa sunt iste natus iure?</p>
                <div class="brand">
                    <img src="../static/img/offering_simulation.jpg" alt="abb robot">
                </div>
              
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, magnam iure ex molestiae consequatur reprehenderit dolor qui repudiandae cumque delectus sapiente vero, eaque nulla. Labore eaque totam inventore culpa numquam quo sunt magni quia ullam? Accusantium obcaecati sequi non doloremque incidunt dolor dolorem, iste est nostrum amet itaque. Ex, doloremque, exercitationem earum minus qui deleniti vitae dolores rem voluptates nemo velit a maiores, autem quae non nobis! Atque, magnam. Deleniti hic omnis facilis at dolor! Pariatur dicta provident nemo a hic vitae nihil officiis debitis aperiam repellendus? Numquam id laborum quisquam consequatur minima recusandae dolores dicta fugiat, aliquam exercitationem. Reiciendis!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis nihil, tenetur obcaecati similique sed sit exercitationem fuga repellendus enim? Sequi nesciunt necessitatibus nihil incidunt reiciendis assumenda alias blanditiis magni nemo doloribus. Illum cum ut in sit dicta minima itaque, facere tempore. Saepe atque voluptatum sapiente eaque. Impedit modi, maiores ipsum autem magnam dignissimos tempora, ad, dolores aliquid vitae sunt molestiae laborum consectetur cumque aperiam vel odit quis fugiat temporibus sapiente. Molestiae quam itaque libero est. Numquam optio, earum recusandae dicta nemo, enim veritatis quis in ad culpa quasi quas perferendis ipsum aut, quibusdam amet nisi quae reiciendis facilis est doloribus necessitatibus sequi accusantium. Magnam ut nisi totam amet quod, nobis blanditiis, repellendus numquam commodi esse expedita qui necessitatibus dolores! Consequuntur?</p>
        </div>
        <div class="content consultancy hidden">
            <h2>Design and Project management consultancy</h2>
            <div class="brand">
                <img src="../static/img/offering_consultancy.jpg" alt="abb robot">
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum dolore ipsa, natus quis minus unde est aut deserunt cupiditate voluptate velit ab eaque veritatis sed et culpa? Harum aliquam ad dolore ullam illum, eum aut eius dolorum et quia necessitatibus dolor laborum assumenda dicta quas culpa sunt iste natus iure?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, magnam iure ex molestiae consequatur reprehenderit dolor qui repudiandae cumque delectus sapiente vero, eaque nulla. Labore eaque totam inventore culpa numquam quo sunt magni quia ullam? Accusantium obcaecati sequi non doloremque incidunt dolor dolorem, iste est nostrum amet itaque. Ex, doloremque, exercitationem earum minus qui deleniti vitae dolores rem voluptates nemo velit a maiores, autem quae non nobis! Atque, magnam. Deleniti hic omnis facilis at dolor! Pariatur dicta provident nemo a hic vitae nihil officiis debitis aperiam repellendus? Numquam id laborum quisquam consequatur minima recusandae dolores dicta fugiat, aliquam exercitationem. Reiciendis!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis nihil, tenetur obcaecati similique sed sit exercitationem fuga repellendus enim? Sequi nesciunt necessitatibus nihil incidunt reiciendis assumenda alias blanditiis magni nemo doloribus. Illum cum ut in sit dicta minima itaque, facere tempore. Saepe atque voluptatum sapiente eaque. Impedit modi, maiores ipsum autem magnam dignissimos tempora, ad, dolores aliquid vitae sunt molestiae laborum consectetur cumque aperiam vel odit quis fugiat temporibus sapiente. Molestiae quam itaque libero est. Numquam optio, earum recusandae dicta nemo, enim veritatis quis in ad culpa quasi quas perferendis ipsum aut, quibusdam amet nisi quae reiciendis facilis est doloribus necessitatibus sequi accusantium. Magnam ut nisi totam amet quod, nobis blanditiis, repellendus numquam commodi esse expedita qui necessitatibus dolores! Consequuntur?</p>
        </div>
    </div>
  </section>
    
 <!-- footer-->
 <footer>
    <div class="container flex">
        <div class="logo flex">
        <img src="../static/img/AUTOMATION X - Upper - Logo.png" alt="Automation X Logo">
            <div class="address">
                <h4>Automation X Ltd.</h4>
                <p>Address Line 1</p>
                <p>Postcode</p>
                <p>City</p>
            </div>
        </div>
        <nav class="links ">
            <ul>
                <li><a href="./index.html">Home</a></li>
                <li><a href="./about.html">About Us</a></li>
                <li><a href="./services.html">Services</a></li>
                <li><a href="./contact.html">Contact Us</a></li>
                <li><a href="./projects.html">Case Studies</a></li>
                <li><a href="./contact.html">Privacy Policy</li>
            </ul>
        </nav>  
        <a href="https://www.linkedin.com/company/automation-x-solutions/" target="_blank" ><i class="fab fa-linkedin fa-2x"></i></a>
    </div>
   
 </footer>   
<script src="../static/js/script.js" charset="UTF-8"></script>
</body>
</html>