{% include "header.html" %}

     <section class="study">
        <div class="main container">
            <div class="title">
                <div class="text">
                    <div class="line"></div>
                    <h1>{{case_study.title}}</h1>
                </div>
                <img src="{{case_study.img_url}}" alt="">
            </div>
            <div class="content">
                <div class="text">
                    <div class="section">
                        <h2>Objectives</h2>
                        <p>{{case_study.objectives}}</p>
                    </div>
                    
                    <div class="section">
                        <h2>Solution</h2>
                        <p>{{case_study.solution}}</p>
                    </div>
                    
                    <div class="section">
                        <h2>Benefits</h2>
                        <ol>
                            {% if case_study.benefit1 %}
                            <li>{{case_study.benefit1}}</li>
                            {% endif %}
                            {% if case_study.benefit2 %}
                            <li>{{case_study.benefit2}}</li>
                            {% endif %}
                            {% if case_study.benefit3 %}
                            <li>{{case_study.benefit3}}</li>
                            {% endif %}
                            {% if case_study.benefit4 %}
                            <li>{{case_study.benefit4}}</li>
                            {% endif %}
                            {% if case_study.benefit5 %}
                            <li>{{case_study.benefit5}}</li>
                            {% endif %}
                        </ol>
                   </div>
                   {% if current_user.is_authenticated %}
                    <div class="buttons">
                        <a href="{{ url_for('edit_case_study', case_study_id=case_study.id) }}" class="btn btn-primary">Edit</a>
                        <a href="{{ url_for('get_delete', case_study_id=case_study.id) }}" class="btn btn-primary">Delete</a>
                    </div>
                    {% endif %}
                </div>
                <div class="style">
                    <div class="line line1"></div>
                    <div class="line line2"></div>
                    <div class="line line3"></div>
                </div>
            </div>    
         </div>        
     </section>
    
 {% include "footer.html" %}