{% include "header.html" %}


     <section class="editor">
        <div class="main container">
                <h1>Case Study Editor</h1>
                <div class="grid">
                          <form action="{{ url_for('edit_case_study', case_study_id=case_study.id) }}" method="post">
                            <div>
                                <h3>Title</h3>
                                <input type="text" name="title" value="{{case_study.title}}"
                                maxlength="200" required>
                            </div>
                            <div>
                                <h3>Image URL</h3>
                                <input type="text" name="image" value="{{case_study.img_url}}" required>
                            </div>
                           <div>
                                <h3>Tags</h3>
                                <div class="tags">
                                    <div>
                                            <input type="checkbox" id="robot" name="robot" value="Robot"
                                        {% if case_study.tag_robot %}

                                                   checked
                                        {% endif %}
                                            >
                                            <label for="robot"> Industrial Robot</label><br>
                                    </div>
                                    <div>
                                        <input type="checkbox" id="cobot" name="cobot" value="Cobot"
                                         {% if case_study.tag_cobot %}

                                                   checked
                                        {% endif %}
                                        >
                                        <label for="cobot"> Cobot</label><br>
                                    </div>
                                    <div>
                                        <input type="checkbox" id="amr" name="amr" value="Amr"
                                        {% if case_study.tag_amr %}

                                                   checked
                                        {% endif %}
                                        >
                                        <label for="amr"> AMR</label>
                                    </div>
                                    <div>
                                        <input type="checkbox" id="simulation" name="simulation" value="Simulation"
                                        {% if case_study.tag_simulation %}

                                                   checked
                                        {% endif %}
                                        >
                                        <label for="simulation"> Simulation</label>
                                    </div>
                                    <div>
                                        <input type="checkbox" id="consultancy" name="consultancy" value="Consultancy"
                                        {% if case_study.tag_consultancy %}

                                                   checked
                                        {% endif %}
                                        >
                                        <label for="consultancy"> Consultancy</label>
                                    </div>
                                </div>
                                
                           </div>
                           <div>
                                <h3>Objectives</h3>
                                <textarea type="text" name="objectives"
                                required cols="50" rows="10" >{{case_study.objectives}}</textarea>
                           </div>
                           <div>
                            <h3>Solution</h3>
                            <textarea type="text" name="solution"
                            required cols="50" rows="10" >{{case_study.solution}}</textarea>
                          </div>
                          <div>
                            <h3>Benefits</h3>
                            <input type="text" name="benefit1" value="{{case_study.benefit1}}"
                             required>
                            <input type="text" name="benefit2" value="{{case_study.benefit2}}"
                            >
                            <input type="text" name="benefit3" value="{{case_study.benefit3}}"
                            >
                            <input type="text" name="benefit4" value="{{case_study.benefit4}}"
                            >
                            <input type="text" name="benefit5" value="{{case_study.benefit5}}"
                            >
                       </div>
                            <input type="submit" value="Submit" >
                         </form>
            </div>
            
         </div>        
     </section>
    
 {% include "footer.html" %}