{% include "header.html" %}

     <section class="success">
        <div class="container feedback">
                <h1>Thank you for your message!</h1>
                <div>
                    <h2>We will get in touch shortly!</h2>
                    <a target="_blank" href="https://www.freepik.com/free-vector/cute-robot-wearing-hat-flying-cartoon-vector-icon-illustration-science-technology-icon-isolated_28158035.htm#query=happy%20robot&position=25&from_view=search&track=ais&uuid=e174c2e7-0f28-4ec0-b41a-dc2c48629df5">Image by catalyststuff on Freepik</a> 
                </div>
         </div>        
     </section>
    
{% include "footer.html" %}